@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

header ul a:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background: white;
  left: 0;
  bottom: -6px;
  border-radius: 5px;
  transform: translateY(10px);
  transition: 0.3s;
  opacity: 0;
}
header ul a:hover:after {
  transform: translateY(0);
  opacity: 1;
}

.input-field .login {
  transform: translateX(0);
  transition: transform 0.6s ease;
  transition-delay: 0.4s;
}
.input-field.active .login {
  transform: translateX(650px);
  transition-delay: 0;
}
.input-field .register {
  transform: translateX(650px);
  transition: transform 0.6s ease;
  transition-delay: 0;
}
.input-field.active .register {
  transform: translateX(0);
  transition-delay: 0.4s;
}
